


<div class="modal" id="editmodal" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
  

   <div class="modal-header">

  <button class="close" data-dismiss="modal">&times;</button>

<h4 class="modal-title">Login</h4>
</div>


<div class="modal-body" >

 <!--  <form name="loginform">
      <div class="form-group">
          <label for="inputUserName">Un</label>
           <input class="form-control" name="un" id="un" ng-model="un" type="text">
           </input>
      </div>

       <div class="form-group">
          <label for="inputPassword">Pwd</label>
           <input class="form-control" placeholder="login pwd" ng-model="pwd" type="password"></input>
      </div>
  </form> -->
  
  <!-- <form name="custform" ng-submit="createCustomer()"> -->
  <form name="custform">
  <div class="form-group">
           <label for="first_name">FirstName</label>
           <input class="form-control" name="first_name" id="first_name" model="first_name" type="text" >
           </input>
           
          
      </div>
      
       <div class="form-group">
          <label for="last_name">LastName</label>
           <input class="form-control" name="last_name" id="last_name" ng-model="last_name" type="text">
           </input>
      </div>

	 <div class="form-group">
          <label for="last_name">Birthday</label>
           <input class="form-control" name="birthday" id="birthday" ng-model="birthday" type="text">
           </input>
      </div>
	
	<div class="form-group">
          <label for="email">Email</label>
           <input class="form-control" name="email" id="email" ng-model="email" type="text">
           </input>
      </div>
      
      <div class="form-group">
          <label for="phone">Phone</label>
           <input class="form-control" name="phone" id="phone" ng-model="phone" type="text">
           </input>
      </div>
       <div class="form-group">
          <label for="zip_Code">ZipCode</label>
           <input class="form-control" name="zip_Code" id="zip_Code" ng-model="zip_Code" type="text">
           </input>
      </div>
	
	<div class="form-group">
          <label for="numberof_Purchases">NoOfPurchases</label>
           <input class="form-control" name="numberof_Purchases" id="numberof_Purchases" ng-model="numberof_Purchases" type="text">
           </input>
      </div>
      
      <div class="form-group">
          <label for="company">Company</label>
           <input class="form-control" name="company" id="company" ng-model="company" type="text">
           </input>
      </div>

</form>  
</div>

<div class="modal-footer" >
<button class="btn btn-primary" ng-click="addCustomer()">AddCustomer</button> 
<!-- <input type="button" value="{{$scope.btnName}}" ng-click="addCustomer()"/> -->
<button class="btn btn-primary" data-dismiss="modal">Close</button>
</div>

<!-- <div class="modal-footer">
<button class="btn btn-primary" ng-click="add()">Login</button>
<button class="btn btn-primary" data-dismiss="modal">Close</button>
</div> -->

      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
   
</div><!-- /.modal -->

<!--<script>
   $(function () { $('#loginmodal').modal({
      keyboard: true
   })});
</script>-->
	
	
	 